@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import "tailwindcss";

:root {
  font-family: 'Archivo',system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #141414;


}

@theme {
  --font-display: "Archivo", "sans-serif";
  --font-body: "Inter", "sans-serif";


}